<widget-header titulo = 'LISTAR ESTATÍSTICAS'></widget-header>
<div class="corpo">
		<nav class="navbar navbar-inverse">
  			<div class="container">
		   		<ul class="nav nav-pills">
		   			<li role="presentation"><a href="/#/cadastrar">Cadastar auto</a></li>
		   			<li role="presentation"><a href="/#/imprimir">Imprimir etiqueta</a></li>
		  			<li role="presentation" class="active"><a href="">Listar estatísticas</a></li>
		  			<li role="presentation"><a href="" class="usuario">{{vm.user}}</a></li>
		  			<li role="presentation"><a href="" class="usuario">{{vm.matricula}}</a></li>
		  			<li ng-click="vm.logoff()"><a href="/#/" class="logoff">logoff</a></li>
		  		</ul>
  			</div>
		</nav>

	<form name="myForm">
		<div class="form-group">
	    		
				<center><span class="error" ng-show="vm.showError">{{vm.message}}</span></center>

	    		


		    	<div class="corpoProdutos bordaBranca">
		    		<center>
		    			<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="vm.mostrarLoading">
		    			</span>
		    		</center>
		    	</div>

	    		<div ng-repeat="item in vm.lista" ng-class-odd="'odd'" ng-class-even="'even'">
	    			<div ng-include="vm.listar"></div>
	    		</div>

				</div>
			
			</div>
	</form>	
		
</div>