<widget-header titulo = 'CADASTRO DE ATIVIDADE'></widget-header>
<div class="corpo">
		<nav class="navbar navbar-inverse">
  			<div class="container">
		   		<ul class="nav nav-pills">
		   			<li role="presentation"><a href="/#/cadastrar">Cadastar auto</a></li>
		   			<li role="presentation" class="active"><a href="">Imprimir etiqueta</a></li>
		  			<li role="presentation"><a href="/#/listar">Listar estatísticas</a></li>
		  			<li role="presentation"><a href="" class="usuario">{{vm.user}}</a></li>
		  			<li role="presentation"><a href="" class="usuario">{{vm.matricula}}</a></li>
		  			<li ng-click="vm.logoff()"><a href="/#/" class="logoff">logoff</a></li>
		  		</ul>
  			</div>
		</nav>

	<div class="corpoProdutos">
		<center>
		    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="vm.mostrarLoading">
			</span>
		</center>
	</div>

	<form name="myForm">
		<div class="form-group">
	    		
				<center><span class="error" ng-show="vm.showError">{{vm.message}}</span></center>

	    		
				<div>
					<label class="fonteBranca">Número do lacre</label>
		    		<input type="text" class="form-control"  placeholder="documento" ng-model="vm.item.lacre">
		    	</div>

		    	<div class="corpoProdutos fonteBranca">
		    		<button type="button" class="btn btn-primary btn-lg btn-block"  ng-click="vm.salvar(vm.item)">Salvar</button>
		    	</div>

		    	<div class="corpoProdutos" ng-hide='vm.ocultarDocumento' id="print">
					<p><b>{{vm.auto}}</p>
					<p>{{vm.data}}</p>
					<p>{{vm.item.lacre}}</p>
		    	</div>


			
			</div>
	</form>	
		
</div>